node#speaker-name.carousel-item-medium-text.carousel-item-text
node#title.carousel-item-large-text.carousel-item-title.carousel-item-text
node#detail.carousel-item-small-text.carousel-item-detail.carousel-item-text
node#description.carousel-item-small-text.carousel-item-text
