node#container.carousel-item
  ui-element#background.carousel-item-background
  ui-element#speaker-name.carousel-item-medium-text
  ui-element#title.carousel-item-large-text.carousel-item-title
  ui-element#detail.carousel-item-small-text.carousel-item-detail
  ui-element#description.carousel-item-small-text
  